ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9bccfd;
}

li {
  float: left;
  border-right: 1px solid #ffffff;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #0074dd;
  color: white;
}

.authedUserItemLi {
  float: right;
  border-right: none;
  font-weight: bold;
  width: 10%;
  text-align: center;
  color: white;
}

.authedUserIconLi {
  float: right;
  border-right: none;
}

.authedUserIcon {
  width: 50px;
}

.logOutItemLi {
  float: right;
  border-right: none;
  background-color: #81599f;
}
